@import "variables";

.page-container {
  font-size: $fs-body;
  font-family: $ff-body;
  color: $clr-primary-400;

  @media (min-width: $bp-mobile) {
    font-size: $fs-body-desktop;
  }


  button {
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 100vmax;
    padding: 1.25em 3em;
    font-weight: $fw-bold;
    font-size: $fs-button;
    line-height: 1;
    color: $clr-neutral-100;
    background-color: $clr-accent-400;
    box-shadow: 0 1.125em 1em -1em $clr-accent-500;

    &:hover,
    &:focus-visible {
      background-color: $clr-accent-300;
    }

    &[datatype="inverted"] {
      background-color: $clr-neutral-100;
      color: $clr-accent-400;

      &:hover,
      &:focus-visible {
        background-color: $clr-neutral-100;
        color: $clr-accent-300;
      }
    }
  }
}
