@import "../styles/variables";

.cta {
  position: relative;
  isolation: isolate;

  z-index: -1;
  
  text-align: center;
  @media (min-width: $bp-mobile) {
    text-align: left;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("../../public/images/bg-simplify-section-mobile.svg");

    @media (min-width: $bp-mobile) {
      background-image: url("../../public/images/bg-simplify-section-desktop.svg");
    }
    background-repeat: no-repeat;
  }
}
