@import "../styles/variables";

.primary-footer-wrapper {
  display: grid;
  gap: $size-700;
  grid-template-areas:
    "form"
    "nav"
    "logo-social";

  @media (min-width: $bp-mobile) {
    grid-template-areas: 
    "logo-social nav form";
  }

  > :first-child {
    grid-area: form;
  }

  > :nth-child(2) {
    grid-area: nav;
  }

  > :last-child {
    grid-area: logo-social;
  }

  input {
    border-radius: 100vw;
    border:0;
    padding: $size-300;
    margin-right: $size-300;
  }
}

.footer-nav {
  columns: 2;
  gap: min(10vw, 2rem);

  a {
    color: $clr-neutral-100;
    text-decoration: none;

    &:is(:hover, :focus) {
      color: $clr-accent-400;
    }
  }
}

.logo-container {
  position: relative;
  width: $size-600;
  height: $size-600;

  @media (min-width: $bp-mobile) {
    width: $size-500;
    height: $size-500;
  }

  .icon {
    fill: red;
  }

  img {
    fill: red;
  }
}

.social-icon {
  fill: $clr-neutral-100;
  transition: all 0.2s ease-in-out;
  width: 40px;
  height: 40px;

  &:is(:hover, :focus) {
    fill: $clr-accent-400;
  }
}
